<nav class="navbar  sticky-top navbar-dark bg-primary">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/">
                <img src="/app/image/logo.svg" width="50" height="50" class="d-inline-block align-top" alt="">
                <span  style="font-size: 40px;">BUY</span>
        </a>
        <ul class="nav justify-content-end">
                <li class="nav-item">
                        <small-cart></small-cart>
                </li>
                <li class="nav-item" ><a class="btn" ng-click="userDetails()">{{userName}}</a></li>
                <li class="nav-item"><a class="btn btn-success" ng-href="#/myorder">Track Order</a></li>
                <li class="nav-item"><a class="btn btn-round btn-secondary" ng-show="showMode" ng-click="Logout()">Logout</a><a class="btn btn-round btn-secondary" ng-show="!showMode" ng-click="Login()">Login/SignUp</a></li>
                
        </ul>
</nav>